*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Title{
    max-width: 1200px;
    margin: 0 auto;
}

.Title h1{
    font-family: 'Tangerine', serif;
    padding: 20px 0;
    font-size: 80px;
}

.cart{
    display: flex;
    margin-bottom: 10vh;
}
.products{ flex: 0.75;}

.product{
    position: relative;
    display: flex;
    overflow: hidden;
    border: 1px solid silver;
}
.product:hover{
    border: none;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);     /*This is to make the shadown for the item to show when you use your mouse pointer to touch it */
}

.image{
    width: 200px;
    height: 200px;
}

.product img:hover{ transform: scale(1.04);} 

.products-info{
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    /* font-size: 35px; */
    padding: 10px; 
    left: 310px;
}

.product-name, .product-price, .product-offer{ 
    margin-bottom: 23px;
}

.product-remove{
    display: inline;
    padding: 15px 30px;
    background-color: wheat;
    color: black;
    cursor: pointer;
    font-size:x-large;
    font-weight: bolder;
    border-radius: 25px;
    height: min-content;
    align-self:flex-end
}

.product-remove:hover{
    background-color: #85005B;
    color: black;
}

.product-quantity  input{
    width: 40px;
    padding: 5px;
    text-align: center;
    font-weight: 500; 
}

.cart-total{
    flex: 0.25;
    margin-left: 20px;
    padding: 20px;
    height: 240px;
    border: 1px solid silver;
    border-radius: 25px;
}

.cart-total p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.btn{
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background-color: wheat;
    color: black;
    text-decoration: none;
    border-radius: 10px;
    font-weight: bolder;
    font-size: large;
    cursor: pointer;
}

.btn:hover{
    background-color: #85005B;
}


@media screen and (max-width: 700px) {
    
    .remove{
        display: none; 
    }
    .product{
        height: 150px;
    }

    .product img{
        height: 150px;
        width: 200px;
    }

    .product-name, .product-price, .product-offer{
        margin-bottom: 10px;
    }      

    .cart{
        flex-direction: column;
    }
    .cart-total{
        margin-left: 0;
        margin-bottom: 20px;

    }
}
@media screen and (max-width: 1220px) {
    .Title{
        max-width: 95%;
    }  

}
