*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Tangerine', serif;
    font-size: 48px;
    background-color: white;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}  

/* position: absolute;
    top: 50%; 
right: 5px; */

nav{
    background-color: #616161;
    height: 8vh;
    width: 100%;
    display: flex;
    align-self: center;
}

.logo{
    width: 38%;
    position: relative;
    padding-left: 50px;
    color: wheat;
    font-family: 'Tangerine', serif;
    font-size: 27px;
    text-shadow: 4px 4px 4px black;
    align-self: center;
}

.items-list{
    display: flex;
    list-style: none;
    margin: 0;
    width: 40%;
    padding: 0;
    /* justify-content: space-evenly; */
    /* align-self: center; */
    font-weight: bold;
    /* margin: center; */
 
}

.link{
    display: block;
    text-align: center;
    padding: 20px 50px;
    padding-left: 5px;
    text-decoration: none;
    font-weight: bold;
    color: wheat;
    font-size: 50px;
    transition: 0.4s;
}
.link:hover{
    color: #85005B;
}

.navigation-buttons{
    width: 8%;
    font-size:40px;
    align-self: center;
    justify-content: space-evenly;
}

.nav-btn{
    color: wheat;
    float: right;
    padding-right: 10px;
    transition: 0.4s;
    align-self: center;
}

.nav-btn:hover{
    color: mediumvioletred;
}



.sidebar-nav{
    width: 100%;
    height: 100%;
    display: flex;
    /* text-align: center; */
 }
  
.sidebar{
    width: 15%;
    background-color: #616161;

}

#sidebar-head{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: wheat;
    font-size: 30px;
    padding: 20px;
    background-color: #000;

}

.sidebar a{
    text-decoration: none;
    color: #fff;
    font-size: 45px;
    display: list-item;
    padding: 20px;
    border-top: 1px;
    border-bottom: 1px;

}

.sidebar a:hover{
    background-color: #85005B;
    transition: 0.5s;
    /* letter-spacing: 4px;
    text-transform: uppercase; */
}


navigations ul{
    background: #1b1b1b;
    height: 110%;
    width: 100%;
    list-style: none;
}
navigations ul li a{
    position: relative;
}

navigations ul li{
    line-height: 60px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

navigations ul ul{
    position: static;
    display: none;
}

navigations ul ul li{
    line-height: 42px;
    border-bottom: none;
}

navigations ul ul li a{
    font-size: 17px;
    color: #e6e6e6;
    padding-left: 100px;
}

navigations ul .top-feats.show{
    display: block;
}
navigations ul .bottom-feats.show{
    display: block;
}


/* .sidebar .nava-links li a span{
    right: inherit; 
} */

.sidebar .nav-links .side-navBottom span{
    color: red;
    position: relative;
    padding: auto;
    margin: auto;
    top: 50%;
    left: 40%;
    font-size: 40px;

}
.sidebar .nav-links .side-navTop span{
    color: red;
    position: relative;
    padding: auto;
    margin: auto;
    top: 50%;
    left: 55%;
    font-size: 40px;

}



/* This is to ensure that the text and content of the websites changes according to the size of the screen */
@media screen and (max-width: 800px) {
    .background-text{
        margin: auto;
        height: fit-content;
        width: fit-content;
    }
    .items-list{
        display: flex;
        height: fit-content;
        width: fit-content;
    }
    .logo{
        margin: auto;
        /* margin-left: 50px; */
        height: fit-content;
        width: fit-content;
        font-size: 30px;
    }
}
@media screen and (max-width: 1200px) {
    .save{
        max-width: 100%;
    }
    .background-text{
        height: fit-content;
        width: fit-content;
    }
}




