*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    font-family: 'Tangerine', serif;
    color: wheat;
    font-size: 48px;
    background-color: #616161;
}
.background-picture{
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(amanda-vick-ohWf6YuzOQk-unsplash.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}

.bg-picture{
    height: 100%;
    width: 100%;
    opacity: 0.6;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(clothrack.png);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -1;
}


header{
    height: 100vh;
    width: 100%;
}

nav{
    background-color: #616161;
    height: 14vh;
    width: 100%;
    display: flex;
    align-self: center;
}

.logo{
    width: 38%;
    position: relative;
    padding-left: 50px;
    color: wheat;
    font-family: 'Tangerine', serif;
    font-size: 45px;
    text-shadow: 4px 4px 4px black;
    align-self: center;
    text-decoration: none;
}

a:link{
    text-decoration: none;
    color: wheat;
}

a:visited{
    text-decoration: none;
    color: wheat;
}

a:hover{
    text-decoration: none;
    color: wheat;
}

a:active{
    text-decoration: none;
    color: wheat;
}

.items-list{
    display: flex;
    list-style: none;
    width: 50%;
    justify-content: space-evenly;
    align-self: center;
    font-weight: bold;
 
}

.link{
    text-decoration: none;
    font-weight: bold;
    color: wheat;
    font-size: 40px;
    transition: 0.4s;
}
.link:hover{
    color: #85005B;
}

.navigation-buttons{
    width: 8%;
    font-size:40px;
    align-self: center;
    justify-content: space-evenly;
}

.nav-btn{
    color: wheat;
    float: right;
    padding-right: 10px;
    transition: 0.4s;
    align-self: center;
}

.nav-btn:hover{
    color: #85005B;
}

.background-picture img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    background-size: cover;
}

.background-text{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-text span{
    color: wheat;
    display:flex;
    font-weight: bolder;
}

.text{
    font-size: 210%;
}

.button{
    margin-top: -220px;
    position: relative;
    text-align: center;
    text-decoration: none;
}

.btn{
    text-decoration: none;
    color: wheat;
    border: 1px transparent;
    padding: 20px 40px;
    transition: 0.4s;
    font-weight: bolder;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;

}
.btn:hover{
    background: #85005B;
    border-radius: 50px;
}


.newsletter{
    /* bottom: 100%; */
    margin-right: 50px;
    position: static;
    justify-content: center;
    text-align: center;
    height: auto;
    width: 100vw;
    padding-top: 40px;
    color: wheat;

}

.newsletter h1{
    margin-top: 200px;

    text-align: center;

}

.footer-content{
    margin: auto;
    max-width: 550px;
    position: relative;
    padding-top: 65px;
    text-align: center;
    /* display: block; */
    left: 3px;
}


.input{
    width: 105%;
    padding: 15px 0px 15px 80px;
    border-radius: 40px;
    border: none;
    outline: none;   /* Removes the effects that shows when you want to type in the text  */
    font-weight: 900;
    font-size: 50px;
    font-family: 'Tangerine', serif;

}

.footer-content span{
    position: absolute;
    top: 63%;
    transform: translate(-50%);
    left: 30px;
    font-size: 30px;

}

.footer-content .btn-email{
    position: absolute;
    top: 48%;
    right: -100px;
    transform: translate(-50%);
    background: black;
    padding: 11px 21px;
    border-radius: 35px;
    font-size: 50px;
    color: wheat;
    letter-spacing: 1px;
    cursor: pointer;
}

.btn-email:hover{
    color: #85005B;
}

.copyright{
    margin: auto;
    margin-right: 50px;
    position: relative;
    justify-content: center;
    text-align: center;
    height: 30vh;
    width: 100vw;
    padding-top: 75px;
    color: wheat;

}

.text25{
    font-size: normal;
}

.text-about{
    padding: 10vh 20vh 10vh 20vh;
    background-color: #616161;
}


/* This is to ensure that the text and content of the websites changes according to the size of the screen */
@media screen and (max-width: 800px) {
    .background-text{
        margin: auto;
        height: fit-content;
        width: fit-content;
    }
    .items-list{
        display: flex;
        height: fit-content;
        width: fit-content;
    }
    .logo{
        margin: auto;
        /* margin-left: 50px; */
        height: fit-content;
        width: fit-content;
        font-size: 30px;
    }
}
@media screen and (max-width: 1200px) {
    .save{
        max-width: 100%;
    }
    .background-text{
        height: fit-content;
        width: fit-content;
    }
}




